@import url("https://fonts.googleapis.com/css2?family=Anton&family=Danfo&family=Libre+Barcode+128+Text&family=Varela+Round&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
}

#galerys {
  margin: 0 auto;
  width: 80%;
  background-color: grey;
  border-radius: 5px;
  padding: 1rem 5rem ;
  box-shadow: 1px 1px 15px 15px black;
}

#links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
  /* gap: 1rem; */
  letter-spacing: 2px;
  font-family: "Varela Round", sans-serif;
  border: 1px solid black;
  padding: 2rem 0;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px white);
  background-color: rgba(0, 0, 0, 0.486);
  
}

#links > a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

#links > a:hover {
  color: black;
  filter: drop-shadow(1px 1px 1px grey);
  font-weight: 800;
}

h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 4rem;
  margin: 0 auto 1em auto;
  text-align: center;
  filter: drop-shadow(5px 5px 5px black);
  text-shadow: -1px -1px 0 rgb(147, 147, 147), 1px -1px 0 grey, -1px 1px 0 grey,
    1px 1px 0 grey;
}

.car {
  padding: 3rem 1rem;
  margin-top: 2rem;
  border-radius: 5px;
  color: white;
  background-color: black;
  box-shadow: 1px 1px 5px 2px black;
}

h2 {
  font-size: 3rem;
  font-family: "Anton", sans-serif;
  margin: 0 auto 1em auto;
  text-align: center;
  filter: drop-shadow(1px 1px 1px gold);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#boxInformation {
  width: 30%;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.802);
  text-align: center;
  margin: 0 auto 4em auto;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#boxInformation > p:not(:last-child) {
  border-bottom: 1px solid white;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
}

#boxInformation > p {
  filter: drop-shadow(1px 1px 1px gold);
}
h4 {
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto 1rem auto;
}

@media (max-width: 600px) {
  #boxInformation {
    width: 100%;
  }
  h4 {
    font-size: 4em;
  }
}

@media(max-width: 400px){
  h2 {
    font-size: 2.3rem;
  }
  h4 {
    font-size: 3em;
  }
}
